<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace = "layout/header :: head">
	<title>お知らせ</title>
</head>

<body th:with="page = ${notices}">
	<header th:replace="layout/header :: headerFragment"></header>
	<div class = "container">
		<div class ="m-3">
		
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-between my-3">
			    <button class="btn btn-primary me-md-2 m-1" onclick = "history.back()">前に戻る</button>
			    <a sec:authorize="hasRole('ROLE_ADMIN')" sec:authorize-url="/admin" href="/admin/noticeForm"><button class="btn btn-primary" type="button">作成</button></a>
		    </div>
		    
			<ul class = "list-group list-group-flush">
				<li class = "list-group-item" th:each="notice : ${notices.content}">
					<div class ="d-flex justify-content-between">
					<p th:text="${notice.id}" class ="card-text mx-3"></p>
					<a th:href="@{/notice/{id}(id=${notice.id})}" th:text="${notice.title}" class="card-title flex-grow-1"></a>
					<p th:text="${notice.createDate}" class ="card-text"></p>
					</div>
				</li>
			</ul> 
		</div>
	</div>
		
	<nav aria-label="page-navigation"
			th:with="s = ${(page.number + 3 > page.totalPages - 1)
			? (page.totalPages -1 -6)
			: (page.number -3)}">
	  <ul class="pagination justify-content-center">
	    <li class="page-item" th:class = "|page-item ${page.first ? 'disabled' : ''}|">
	      <a class="page-link" aria-label = "Previous" th:href="@{''(page=${page.number - 1})}">
	        <span>&laquo;</span>
	      </a>
	    </li>
	    <li th:each = 'i : ${#numbers.sequence((s < 0 ? 0 : s),
	    	((s < 0 ? 0 : s) + 6) > (page.totalPages )
	    	?(page.totalPages -1)
	    	:((s<0  ? 0: s) < 6))}'
	    	th:class="|page-item ${(page.number == i) ? 'active' : ''}|">
	    	<a class = "page-link" th:href = "@{''(page=${i})}">
	    	<span th:text='${i + 1}'>1</span>
	    	</a>
	    </li>
	    
   	    <li th:class="|page-item ${page.last ? 'disabled' : ''}|">
	    	<a class = "page-link" th:href = "@{''(page=${page.number + 1})}" aria-label ="Next">
	    	<span>&raquo;</span>
	    	</a>
	    </li>
	    
	  </ul>
	</nav>
	
	
	<footer th:replace="layout/footer :: footerFragment"></footer>
</body>
</html>
